@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/*     font-family: 'Lato', sans-serif; */
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.items-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

#nav{
    padding: 1em;
    background: rgba(172, 168, 168, 0.815);
    width: 100%;
    font-size: 1.5rem;
}

#nav__list{
    list-style: none;
}

#main{
    padding: 1em;
    width: 100%;
}

.card{
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: .5em;
    border: 1px solid rgba(255, 255, 255, 0.39);
    background: rgba(255, 255, 255, 0.75);
    width: clamp(150px, 100%, 400px);
    margin: 1em auto;
}

.card img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card p{
    padding: .5em;
}

.card__cta i{
    display: inline-block;
    margin-right: .5em;
    cursor: pointer;
}

.heart{
    color: red;
}

.comment{
    color: rgb(93, 93, 235);
}

.share{
    color:rgb(93, 235, 100);
    margin-left: auto;
    margin-right: 0;
}

.card__description{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}